table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  margin: 15px;
  padding: 20px;
  border: 1px solid #858585;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
}

.checkbox-cell {
  text-align: center;
  vertical-align: middle;
  width: 50px;
}

.chooseAll{
  display: 'flex';
  align-items: 'center'; 
  gap: '5px'
}

